.container {
  position: relative;
}

.swingTimer {
  height: 5vh;
  width: 30vw;

  border: 5px solid black;
  background: black;

  position: relative;
}

.attackSpeed {
  position: absolute;
  text-align: left;

  top: 0;
  left: 31.5vw;

  font-size: 5vh;
}
